@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-[#081121] text-white antialiased;
  }

  /* Custom scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #081121;
  }
  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0B67FF;
  }
}